<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="" href="" >
    <title>Mensajes</title>
</head>
<body>
  	<style>
		h2 {
			color: red;
		}
		ul {
			list-style: none;
			display: flex;
		}
		li {
			margin-right: 5px;
		}
		a {
			text-decoration: none;
			color: deepskyblue;
		}
	</style>
  	{% include 'cabecera.html' %}
    <h2>Mensajes</h2>
    <p><b>{{ nombre }}</b> <i>dice:</i> Hola amigos, como estan.</p>
</body>
</html>
